/.bundle
/.yardoc/
/Gemfile.lock
/doc/
/pkg/
/vendor/cache/*.gem

#********** osx template********** 

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
